<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ShaderT: Shader Testing Suite</title>

<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" crossorigin="anonymous">
<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap-theme.min.css" crossorigin="anonymous">
<link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css" crossorigin="anonymous">

<script src="/node_modules/jquery/dist/jquery.min.js" crossorigin="anonymous"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>

<style>
    /*body {
        background: #393939;
        color: #f5f5f5;
    }*/
    h1,h2,h3,h4{
        font-weight: 100
    }
    h1 {font-size: 2.0em; margin-top: 10px;}
    h2 {font-size: 1.5em}
    *[class^='status-']{
        font-weight: 800;
        font-size: 0.7em;
    }
    .status-pass { color: #5fd95f;}
    .status-failure { color: #ee7474;}
    .tab-pane pre {
        font-size: 0.7em;
        background: #3f3f3f;
        color: #f5f5f5;
        max-height: 400px;
    }
    .test-pane {
        margin-bottom: 20px;
    }
    .test-header {
        border: 1px solid #c3c3c3;
        padding: 5px 10px;
        border-radius: 5px 5px 0 0;
    }
    .test-content {
        border: 1px solid #c3c3c3;
        border-top: 0px;
        border-radius: 0 0 5px 5px;
    }
    a[id$=_expand_toggle] {
        color: #626262;
        text-decoration:none;
    }
</style>
</head>

<body class="container">

{% include 'nav_bar.html' %}
{% include 'test_summary.html' %}

{% for test_name, test_content in tests.iteritems() %}
    <div class="test-pane">
        <div class="test-header col-xs-12">
            <h1>
                {{test_name}}
                <div class="pull-right">
                    <a id="test_{{test_name}}_expand_toggle" class="fa fa-angle-left"
                    data-toggle="collapse" href="#{{test_name}}_content" aria-expanded="false" ></a>
             </div></h1>
        </div>

        <div id="{{test_name}}_content"  aria-expanded="false" class="collapse test-content col-xs-12">
        {% for test_case in tests[test_name]['cases'] %}
            <div class="col-xs-12" id="{{test_case.name}}_content">
                <h2>
                    {{test_case.name}} - <span class="status-{{test_case.status.lower()}}">{{test_case.status}}</span>
                </h2>
                <div class="col-md-8">
                    <div>
                      <!-- Nav tabs -->
                      <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#idiff-{{test_case.name}}" aria-controls="idiff-{{test_case.name}}" role="tab" data-toggle="tab">Diff</a>
                        </li>
                        <li role="presentation">
                            <a href="#render-output-{{test_case.name}}" aria-controls="render_output-{{test_case.name}}" role="tab" data-toggle="tab">Render Log</a>
                        </li>
                      </ul>

                      <!-- Tab panes -->
                      <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="idiff-{{test_case.name}}">
                            <pre>{{test_case['idif_output']}}</pre>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="render-output-{{test_case.name}}">
                            <pre >{{test_case['render_output']}}</pre>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-2">
                    <img src="{{test_case['current_image_filename']}}" width="100%"/>
                    <h4><center>current</center></h4>
                </div>
                <div class="col-xs-6 col-md-2">
                    <img src="{{test_case['output_image_filename']}}" width="100%" />
                    <h4><center>output</center></h4>
                </div>
            </div>

            <div id="{{test_name}}_img_modal"class="modal fade bs-example-modal-lg" tabindex="-1"
                role="dialog" aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{{test_name}} Preview</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-6">
                            <img src="{{test_case['current_image_filename']}}" width="100%"/>
                            <h4><center>current</center></h4>
                        </div>
                        <div class="col-md-6">
                            <img src="{{test_case['output_image_filename']}}" width="100%" />
                            <h4><center>output</center></h4>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
              </div>
            </div>
            <script>
                $('#{{test_name}}_content').on('show.bs.collapse', function () {
                    $('#test_{{test_name}}_expand_toggle').addClass("fa-angle-down");
                })
                $('#{{test_name}}_content').on('hidden.bs.collapse', function () {
                    $('#test_{{test_name}}_expand_toggle').removeClass("fa-angle-down");
                })
                $('#{{test_case.name}}_content img').click(function(ev){
                    $('#{{test_name}}_img_modal').modal()
                });

            </script>
        {% endfor %}
        </div>
        <div class="clearfix"></div>
    </div>
{% endfor %}

</body>
</html>
