<style>
.navbar-header, .navbar-brand {
    height: 90px;
}
.navbar-brand > img {
    display: inline-block;
}
.navbar-header > .pull-right {
    line-height: 90px;
    font-weight: 200;
    font-size: 1.2em;
}
.version-info{
    clear:both;
    font-size: 0.8em;
    color: #8d8d8d;
    text-align: center;
}
</style>
<nav class="navbar">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
          <img src="/img/shaderfly_logo_sm_b.png" width="180px"/>
          <div class="version-info">Shader Testing Suite v0.1.0</div>
      </a>
    </div>
  </div><!-- /.container-fluid -->
</nav>
