<style>
    .summary_hldr {
        background: #efefef;
        margin: 20px 0;
        padding: 20px;
        border: 1px solid #cfcfcf;
        border-radius: 5px;
    }
</style>
<div class="row">
    <div class="col-lg-offset-2 col-lg-8">
        <div class="summary_hldr">
            <h4>Test Summary</h4>
            <div class="col-xs-12 col-md-6">
                <span>Total Run Time:</span> 00:00:38
            </div>
            <div class="col-xs-12 col-md-6">
                <span>Total Tests:</span> 4
            </div>
            <div class="col-xs-12 col-md-6">
                <span>Success:</span> 4
            </div>
            <div class="col-xs-12 col-md-6">
                <span>Failure:</span> 0
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
